<ion-content scrollY="false">
  <div *ngIf="!statusBar; else _payments">
    <ion-card>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-item-divider>
        <ion-card-content>
          <ion-item lines="none">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-item>
        </ion-card-content>
      </ion-item-group>
    </ion-card>
    <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">
      <ion-label>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </div>
  <ng-template #_payments>
    <ion-card>
      <ion-item lines="none" color="primary">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>
          Услуга
        </ion-label>
      </ion-item>
      <ion-card-content>
        <div style="border-bottom: 1px solid silver;">
          <ion-select (ionChange)="changeService()" [(ngModel)]="currenService">
            <ion-select-option *ngFor="let item of services" [value]="item.id">{{item.name}}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-content>
      <div style="margin: 15px">
        <ion-list>
          <ion-item *ngFor="let item of accruals">
            <ion-label>
              <ion-text>
                {{getMonth(item.month)}} {{item.year}} г.
              </ion-text>
            </ion-label>
            <ion-note slot="end">
              {{item.sum}}
            </ion-note>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ng-template>
</ion-content>