<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/icon/icon.png" />
        <h3>Коротко о приложении</h3>
        <p>Приложение <b>Учет ЖКХ</b> - это возможность оплачивать и передавать показания за услуги ЖКХ просто и удобно
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/icon/logo.png" />
        <h3>
          Коротко о нас
        </h3>
        <p>
          <b>It Dev-Soft</b> — это активно развивающаяся IT компания, которая предоставляет широкий спектр
          услуг в сфере IT.
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>